.content{
    max-width: 1200px;
    margin:0 auto;
}

header, footer{
    background-color:#FAEBD7;
    color: burlywood;
    text-align: center;
    font-family: 'Potta One', cursive;
}

header h1{
    font-size: 50px;
    padding:50px;
    
}

.main-page{
    display: grid;
    grid-template-columns: auto auto auto;
}

.box1{
    display: block;
    margin-left: 50px;
}
.box1 h2{
    color: burlywood;
}

.box2{
    display: block;
    margin-left: 75px;
}

.box2 h2{
    color: burlywood;
}

.box3{
    display: block;
    margin-left: 75px;
}

.box3 h2{
    color: burlywood;
}

.box1-image{
    width: 300px;
    height: 350px;
    margin-left: 10px;
}

.box2-image{
    width: 300px;
    height: 350px;
    margin-left: 10px;
}

.box3-image{
    width: 300px;
    height: 350px;
    margin-left: 15px;
}
.box1 .wix-btn{
    background-color: burlywood;
    color: white;
    padding: 10px 35px;
    border: none;
}

.box2 .amazon-btn{
    background-color: burlywood;
    color: white;
    padding: 10px 25px;
    border: none;
}

.box3 .made-btn{
    background-color: burlywood;
    color: white;
    padding: 10px 25px;
    border: none;
}

.box1 .intro{
    display: inline-block;
    width: 300px;
    color: #CD853F;
    font-family: 'Oswald', sans-serif;
    vertical-align: top;

}
.box2 .intro{
    
    display: inline-block;
    width: 300px;
    color: #CD853F;
    font-family: 'Oswald', sans-serif;
    vertical-align: top;

}
.box3 .intro{
    display: inline-block;
    width: 300px;
    color: #CD853F;
    font-family: 'Oswald', sans-serif;
    vertical-align: top;

}

footer p.legal{
    margin-bottom: 9px;
    font-size: 20px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;

}

footer p.highlight{
    
    color: burlywood;
    font-size: 20px;
    margin-top:0;
    padding: 10px;
    font-family: 'Oswald', sans-serif;

}

footer a{
    color: burlywood;
}

@media screen and (max-width: 1150px){
    .content{
        max-width: 700px;
        margin:0 auto;
    }
    .main-page{
        display: block;
    }
    .box1{
        display: inline-block;
        margin-left: 35px;
    }

    .box2{
        display: inline-block;
        margin-left: 35px;
    }
    
    .box3{
        display: inline-block;
        margin-left: 35px;
    }
}

@media screen and (max-width: 680px){

    .content{
        max-width: 375px;
        margin:0 auto;
    }

    .main-page{
        display: block;
    }

    .box1{
        display:block;
        margin-left: 20px;
    }

    .box2{
        display: block;
        margin-left: 20px;
    }
    
    .box3{
        display: block;
        margin-left: 20px;
    }
    footer p.legal{
        margin-bottom: 9px;
        font-size: 10px;
        padding: 5px;
    }
    
    footer p.highlight{
        font-size: 10px;
        padding: 0px;
    }
    
}

