h1,h2,h3{
    font-family: 'Source Serif Pro', serif;

}

h1{
    text-align: center;
}

h2{
    font-size:25px;
}
.info{
    text-align: center;
    margin: auto 30px;
    border-style:solid;
    background-color: #4F6367;
    color: white;
}
.icon{
    width: 50px;
    border-radius: 200px;
}
.map{
    text-align: center;
}
