@media only screen and (min-width: 1000px){
    header, footer{
        max-width: 1500px;
        margin: auto;
    }
    .header .motto h1{
        font-size: 50px;
    }

    .temple-img{
        width: 580px;
    }

    .quote{
        max-width: 1040px;
    }

    .temple-name{
        width: 580px;
    }
    nav{
        max-width:1500px;
    }
    .banner{
        font-size: 40px;
    }

    main{
        max-width: 1500px;
        margin: auto;
    }

    main h1{
        font-size: 50px;
    }
    
    .logo{
        width: 150px;
        height: 150px;
        margin-left: 70px;
    }
    
    .navigation{
        font-size: 20px;
    }
    .header .motto{
        margin:auto;
    }

    footer{
        font-size: 17px;
    }

    .worning{
        width: 1100px;
        color: #FE5F55;
    }
    .content{
        display: grid;
        grid-template-columns: auto;
        max-width: 1200px;

    }

    
    section {
        width: 1200px;
        display: flex;
        flex-direction: row;
      }
      
      section:nth-child(odd) {
          flex-direction: row-reverse;
      }

}