
@media only screen and (min-width:555px){
    .logo{
        width: 150px;
        height: 150px;
        border-radius: 90px;
    }

    .header .motto {
        margin: auto;
    }
    .header h1{
        font-size: 45px;
    
    }
    .img-jesus{
        width: 729px;
        height: 270px;
    }
    .quote{
        max-width: 790px;
    }

    .temple-name{
        width: auto;
    }
    .temple-img{
        width: 500px;
    }
    
    nav{
        max-width: 100%;
    }

    .navigation{
        
        grid-template-columns: repeat(5,auto);
    }

    .navigation li{
        display: block;
    }

    .navigation li a{
        text-align: center;
    }

    .navigation li:first-child{
        display: none;
    }

    .content{
        max-width: 825px;
    }

    /* section {
        display: flex;
        flex-direction: row;
      }
      
      section:nth-child(odd) {
          flex-direction: row-reverse;
      } */
}
