
@media only screen and (min-width:555px){
    .logo{
        width: 150px;
        height: 150px;
    }

    .header .motto {
        margin: auto;
    }

    .motto h1{
        font-size: 30px;
    }

    .motto span{
        font-size: 20px;
    }
    nav{
        max-width: 100%;
    }

    .navigation{
        
        grid-template-columns: repeat(5,auto);
    }

    .navigation li{
        display: block;
    }

    .navigation li a{
        text-align: center;
    }

    .navigation li:first-child{
        display: none;
    }
}
