body{
    background-color: #ffffff;
}

header, footer{
    background-color: #FAEBD7;
    color: burlywood;
    padding: 8px;
    
}
.content{
    font-family: 'Saira Condensed', sans-serif;
    max-width: 1500px;
    margin:0 auto;
}

footer {
    clear:both;
    text-align: center;
}

header h1{
    font-size: 70px;
    text-align: center;
   color:burlywood; 
   font-family: 'Saira Condensed', sans-serif;
}

.links {
    display: flex;
    background-color:#FAEBD7; 
}

.links .link{
    background-color: #FAEBD7;;
    margin: 20px;
    padding: 10px;
    font-family: cursive;
    list-style-type: none;
}

.links .link a{
    color:burlywood;
    font-size:20px;
}

.links .link:hover{
    background-color: white;
}

.sunny, .cloudy, .rain, .stormy{
    display: flex;
    font-family: 'Saira Condensed', sans-serif;
}

.sunny, .cloudy, .rain, .stormy, p{
    font-size: 25px;
}



.information{
    margin-left: 50px;
}
/*------------------typography--------------------*/
.font-style{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.typro-content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.typro-content p{
    text-align: left;
    margin-left:30px;
}

.typro-content .font-f .f-cursive{
    font-family: cursive;
}

.typro-content .font-f .f-fantasy{
    font-family: fantasy;
}

.typro-content .font-f .f-fangsong{
    font-family: fangsong;
}

.typro-content .font-s .big{
    font-size: 30px;
}
.typro-content .font-s .mid{
    font-size: 25px;
}
.typro-content .font-s .small{
    font-size: 15px;
}

.typro-content .t-align .line1{
    text-align: center;
}
.typro-content .t-align .line2{
    text-align: left;
}
.typro-content .t-align .line3{
    text-align: right;
}

.typro-content .t-color .red{
    color:white;
    background-color: red;
}
.typro-content .t-color .yellow{
    color:black;
    background-color: yellow;
}
.typro-content .t-color .green{
    color:white;
    background-color: green;
}


/*-------------------Audience------------------------*/
.main-page{
    margin:50px;
    font-family: 'Saira Condensed', sans-serif;
}

.climer{
    display: flex;
}

.ski{
    display: flex;
}

.surfer{
    display: flex;
}

.climer .climer-img{
    width: 350px;
    margin-bottom: 50px;
}

.ski .ski-img{
    width: 350px;
    margin-bottom: 50px;
}

.surfer .surfer-img{
    width: 350px;
}

/*--------------------color page------------*/
.color-page{
    margin: 50px;
    text-align: center;
}
.colors{
    display: flex;
}
.color-page .light-green{
    background-color: hsl(120, 73%, 75%);
    
}
.color-page .alice-blue{
    background-color: #F0F8FF;
  
}
.color-page .yellow{
    background-color: #FAFAD2;
   
}

.color-page .orange{
    background-color: #FFA500;
    
}

.alice-blue, .yellow, .orange, .light-green{
    border-style: groove;
    width: 300px;
    margin-left: 30px;
}

/*--------------------Phone---------------*/
@media screen and (max-width: 1150px){
    .links .link{
    
        margin: 8px;
        padding: 10px;
    }
    
    .content{
        max-width: 700px;
        margin:0 auto;
    }

    .sunny-img, .cloudy-img, .rain-img, .stormy-img{
        display: none;
    }

    .typro-content p{
        text-align: left;
        margin-left:30px;
    }

    .information{
        margin-left: 5px;
    }

    .typro-content{
        display: block;
        margin-left: 5px;
        margin-right: 5px;
    }
    .climer .climer-img{
        display: none;
    }
    
    .ski .ski-img{
        display: none;
    }
    
    .surfer .surfer-img{
        display: none;
    }
}
@media screen and (max-width: 680px){
    .content{
        max-width: 375px;
        margin:0 auto;
    }
    
    .links {
        display: grid;
        background-color:burlywood;
    }
    
    .links .link{
        margin: 0px;
        padding: 10px;
    }

    .links .link a{
        font-size:15px;
    }

    .font-style{
        display: none;
    }
    .color-page{
        margin: 25px;
    }

    .colors{
        display: grid;
    }
}
