body{
    background-color: #ffffe0;
}
header, footer{
    background-color: #6495ED;
    color: #EEE;
    padding: 8px;
    border-radius: 15px;
}

footer {
    clear:both;
    text-align: center;
}

header h1{
   padding:30px;
   color:white; 
   font-family: cursive;
}

.links {
    display: flex;
    background-color:#87CEFA;
}

.links .link{
    background-color: #87CEFA;
    margin: 20px;
    padding: 10px;
    font-family: cursive;
    list-style-type: none;
}

.links .link a{
    color:white;
    font-size:20px;
}

.links .link:hover{
    background-color: #1E90FF;
}

.sunny, .cloudy, .rain, .stormy{
    display: flex;
    font-family: cursive;
}

.sunny, .cloudy, .rain, .stormy p{
    font-size: 25px;
}